<div class="modal fade" id="modalDetalhesCarro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Dados do Veículo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img 
          src="https://cdn.motor1.com/images/mgl/2gJ94/s1/mitsubishi-lancer-evo-rendering.jpg" 
          class="card-img-top rounded-1 object-fit-cover" 
          alt="Foto do carro"        
          id="modalImagemCarro"
          style="height: 16rem;"
        />

        <div class="mb-3 mt-4">
          <label for="modalModeloCarro" class="form-label">Modelo</label>
          <input 
            type="text" 
            class="form-control" 
            id="modalModeloCarro" 
            placeholder="Modelo do carro" 
            readonly 
          />
        </div>

        <div class="mb-3 mt-4">
          <label for="modalMarcaCarro" class="form-label">Marca</label>
          <input 
            type="text" 
            class="form-control" 
            id="modalMarcaCarro" 
            placeholder="Marca do carro" 
            readonly 
          />
        </div>

        <div class="mb-3 mt-4">
          <label for="modalCorCarro" class="form-label">Cor</label>
          <input 
            type="text" 
            class="form-control" 
            id="modalCorCarro" 
            placeholder="Cor do carro" 
            readonly 
          />
        </div>

        <div class="mb-3 mt-4">
          <label for="modalPrecoDiariaCarro" class="form-label">Preço da Diária</label>
          <input 
            type="text" 
            class="form-control" 
            id="modalPrecoDiariaCarro" 
            placeholder="Preço da diária" 
            readonly 
          />
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>