<!DOCTYPE html>
<html>
  <head>
    <title>Lab 04 - WEB</title>
    <style type="text/css">
      h3 {
        background: greenyellow;
        padding: 5px;
        width: 100px;
      }

      a {
        text-decoration: none;
        color: black;
      }
    </style>
  </head>
  <body>
    <h3>
      <a href="<%= categorias %>">Categorias</a>
    </h3>
    <h3>
      <a href="<%= produtos %>">Produtos</a>
    </h3>
  </body>
</html>