.container{
    width: 30vw;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: .3rem solid #738ca567;
    padding: 2rem;
    border-radius: .5rem;
}

.form-row2{
    display: flex;
    gap: 20px;
}

.form-row2 .form-group{
    width: 200px;
}

.btn{
    margin: auto;
    display: flex;
    width: 200px;
    justify-content: center;
}